 /* Custom CSS */
 body {
     background-color: #f8f9fa;

 }
*:focus{
    box-shadow: none !important;;
}
 .alpha-calculator,
 .belpromo-calculator,
 .goldstar-calculator,
 .chat-content {
     max-width: 500px;
     background-color: #ffffff;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }

 .description-generator {
     max-width: 50vw;
     background-color: #ffffff;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }

 .generatedesc {
     padding: 10px;
 }

 /* Styling for the top heading and paragraph */
 .top-heading {
     color: #000;
     text-align: center;
     text-transform: uppercase;
     padding: 5px;
     border-radius: 10px 10px 0 0;
 }

 .top-heading h4 {
     font-weight: 900;
 }

 .intro-paragraph {
     padding: 4px;
     border-radius: 0 0 10px 10px;
 }

 .intro-paragraph p {
     font-weight: 600;
 }

 /* Style the side menu */
 /* Style for the side menu */
 .side-menu {
     position: relative;
     width: 15vw;
     background-color: #333;
     color: #fff;
     padding: 20px 5px 20px 5px;
     height: 100vh;
     z-index: 999;
 }

 .side-menu h3 {
     color: #fff;
     font-size: 1.5rem;
     text-align: center;
     margin-bottom: 20px;
 }

 /* Style for the menu items */
 .side-menu ul {
     list-style-type: none;
     padding: 0;
 }

 .side-menu li {
     margin-bottom: 10px;
 }

 /* Style for the links */
 .side-menu a {
     color: #fff;
     text-decoration: none;
     display: block;
     padding: 15px 10px 15px 10px;
     transition: background-color 0.3s, color 0.3s;
 }

 /* Hover effect and color change */
 .side-menu a:hover {
     background-color: #e0dfdf25;
     color: #fff;
     text-decoration: none;
 }

 /* Define your CSS styles here */
 .all-calculators,
 .page1-content,
 .page2-content {
     display: none;
 }


 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #444;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.feedback_req{
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
footer p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

footer span {
    color: #4CAF50; /* Green color for the count */
}
.generatedesc {
    border-radius: 0;
    border:2px solid gray;
}
.generatedesc:focus{
    border-color:2px dashed #28a745;
}
#open-modal-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#open-modal-btn:hover {
    background-color: #4cae4c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    color: #000;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.response-message {
    margin-top: 20px;
    font-size: 14px;
    color:#28a745;
}